{% extends 'base/base.html' %}
{% load static %}
{% block search_bar %}
	<div class="search_bar clearfix">
		<a href="{% url 'goods:index' %}" class="logo fl"><img src={% static 'images/logo.png'%}></a>
        {% block title_name %}
            <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
        {% endblock title_name %}
		<div class="search_con fr">
            <form action="/search" method="get">
                <input type="text" class="input_text fl" name="q" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>
	</div>
{% endblock search_bar %}
{% block body_on %}{% endblock body_on %}