{% extends 'base/base.html' %}
{% load static %}
{% block body %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="{% url 'goods:list' goods.kinds_id 1 %}">{{ goods.kinds.name }}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src={{ goods.pictures.url }}></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.goods_name }}</h3>
			<p>{{ goods.brief }}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{ goods.price }}</em></span>
				<span class="show_unit">单  位：{{ goods.unit }}</span>
			</div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            {% for goods in goods_else %}
                <div class="num_name fl"><a href="{% url 'goods:detail' goods.id %}">{{ goods.goods_name }}</a></div>
            {% endfor %}
            <div class="total">总价：<em>16.80元</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                <a href="javascript:;" goods_id="{{ goods.id }}" class="add_cart" id="add_cart">加入购物车</a>
            </div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for mall_goods in other_goods %}
                        <li>
                            <a href={% url 'goods:detail' gid=mall_goods.id %}><img src={{ mall_goods.pictures.url }}></a>
                            <h4><a href={% url 'goods:detail' mall_goods.id %}>{{ mall_goods.goods_name }}</a></h4>
                            <div class="prize">￥{{ mall_goods.price }}</div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
                <li >评论</li>
			</ul>
			<div class="tab_content">
				<dl>
                    {% autoescape off %}
                        <dt>商品详情：</dt>
                        <dd>{{ goods.SPU_id.details}}</dd>
                    {% endautoescape %}
				</dl>
			</div>

		</div>
	</div>
    {% csrf_token %}
{% endblock body %}

{% block bottom_files %}
	<div class="add_jump"></div>

	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
        get_total_money()
        var $add_x = $('#add_cart').offset().top;
        var $add_y = $('#add_cart').offset().left;
        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;

        function get_total_money(){
		    var price = $('.show_pirze').children('em').text()
            var count = $('.num_show').val()

            var total_money = parseFloat(price) * parseInt(count)
            $('.total').children('em').text(total_money.toFixed(2)+'元')
        }

        $('.add').click(function () {
            var count = $('.num_show').val()
            count = parseInt(count) + 1
            $('.num_show').val(count)
            get_total_money()
        })

        $('.minus').click(function () {
            var count = $('.num_show').val()
            count = parseInt(count) - 1
            if(count <= 1){
                count = 1
            }
            $('.num_show').val(count)
            get_total_money()
        })

        $('.num_show').blur(function () {
            var count = $(this).val()
            if(isNaN(count) || parseInt(count) <= 1 || count.trim().length === 0){
                count = 1
            }
            $(this).val(parseInt(count))
            get_total_money()
        })

        $('.add_cart').click(function () {
            var goods_id = $(this).attr('goods_id')
            var count = $('.num_show').val()
            var csrf = $("input[name='csrfmiddlewaretoken']").val()
            var data = {
                'goods_id': goods_id,
                'goods_num': count,
                'csrfmiddlewaretoken': csrf
            }
            $.post('/goodscar/addcart', data, function (data) {
                if(data.code === 200){
                    $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
                    $(".add_jump").stop().animate({
                        'left': $to_y+7,
                        'top': $to_x+7},
                        "fast", function() {
                            $(".add_jump").fadeOut('fast',function(){
                                $('#show_count').html(data.goods_count);
                            });
                    });
                }
                else{
                    alert(data.errmsg)
                }
            })
        })

	</script>
{% endblock bottom_files %}
